{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="main">

    <div class="container">
        <div class="page-header">
            <h1 class="text-center">
                Instagram
            </h1>
        </div>
    </div>
    <h3 class="text-center"><kbd>Login</kbd></h3>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="text-danger">
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}<p>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="container">
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Email Address: </label>
                <input class="form-control" id="email_address" type="text" name="email_address">
            </div>
            <br>
            <div>
                <label for="password">Password: </label>
                <input class="form-control" id="password" type="password" name="password">
            </div>
            <br>
            <input class="btn btn-success btn-block" type="submit" value="Log In">
        </form>


    </div>
    <br><br>
    <a href="index/">
        <div><h3 class="text-center"><kbd>Don't have an account?</kbd></h3>
            <br>
            <a href="/register" class="btn btn-success align-middle btn-block">Sign Up</a></div>
</div>
</div>
</body>
</html>

