{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

{% if messages %}
    {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="main">

    <div class="container">
        <div class="page-header">
            <h1 class="text-center">
                Feed
            </h1>
        </div>
    </div>
</div>

{% for post in posts %}

    <div class="container">
        <h3 class="text-danger"><a href="/photos/{{ post.user.email_address }}"> {{ post.user.name }} </a></h3>

        <img class='img-rounded' style="display:inline-block; width:350px; height:300px;"
             src="{{ post.image.url }}"/><br>
        <span style="display:inline-block;"><h5 class="text-info"> <a
                href="/photos/{{ post.user.email_address }}"> {{ post.user.name }} </a> : {{ post.caption }} </h5></span>

        <p class='text-success'>Likes : <a href="/photos/likes/{{ post.id }}"> {{ post.like_count }} </a></p>

        <p class='text-success'> Posted on : [{{ post.created_on }}]</p>

        <div>
          <span>
            <p class='text-success'> Categories </p>
              {% for category in post.categories %}
                  <span><code><a
                          href="/photos/tag/{{ category.category_text }}"> {{ category.category_text }} </a></code></span>
              {% endfor %}
          </span>

        </div>

        <br>

        <div style="display:inline-block" class="form-group">
            <form method="POST" action="/photos/like">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}"/>
                {% if post.has_liked %}
                    <input type="submit" class="btn btn-default" value="Unlike">
                {% else %}
                    <input type="submit" class="btn btn-default" value="Like">
                {% endif %}
            </form>
        </div>

        <div class="form-group">
            <form method="POST" action="/photos/comment">
                {% csrf_token %}
                <input class="btn-primary btn" type="hidden" name="post" value="{{ post.id }}"/>
                <input type="text" class="form-control" name="comment_text" id="comment_text"
                       placeholder="Make a comment." value="{{ comment_text }}">
                {{ comment_text }}
                <br>
                <input type="submit" class="btn-primary btn" value="Comment">
            </form>
        </div>

        <div>
            {% for comment in post.comments %}
                <p><b><a href="/photos/{{ post.user.email_address }}">{{ comment.user.name }}</a>
                    [{{ comment.created_on }}]:</b> {{ comment.comment_text }}</p>
            {% endfor %}
        </div>
    </div>

{% endfor %}
</body>
</html>